* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    /* max-width: 700px; */
    width: 100%;
    margin: 0 auto;
}

.tab__buttons {
    display: flex;
    gap: 5px;
    padding: 5px;
    border: 1px solid rgb(71, 70, 70);
}

.tab__button {
    padding: 10px;
    border: 1px solid #000a00;
    cursor: pointer;
}

.tab__button:hover {
    background: gray;
}

.tab__button.active {
    background: #b1b1b1;
}

.tab__content {
    display: none;
}

.tab__content.active {
    display: block;
}