.form {
    padding: 180px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
}

.button {
    display: block;
}

.h1 {
    color: blue;
}

.form2 {
    width: 300px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
}