.nav {

    display: flex;
    gap: 60px;

    margin-left: auto;

}

.nav a {
    /* position: relative; */
    color: rgb(199, 197, 111);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}