.nav {
    display: flex;
    gap: 60px;
    margin-left: auto;
}

.nav a {
    color: rgb(199, 197, 111);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

@media (max-width:1015px) {
    .nav {
        gap: 40px;
    }

    .nav a {
        font-size: 14px;
    }
}

@media (max-width: 850px) {
    .nav {
        gap: 20px;
    }
}


@media (max-width: 768px) {
    .nav {
        display: none;
    }
}

